html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container{
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
 
 
}

header {
  height: 60px;
  width:100%;
  position: fixed;
  top: 0;
  background-color: rgb(253, 252, 252,0.6);
  z-index: 10;
}

.header-title {
  float: left; 
}

.header-logo {
  color:#000000 ;
  font-weight: 800;
  font-size: 22px;
  font-family: 'Alegreya Sans SC', sans-serif;
  cursor: pointer;
  width:200px;
  margin-top: 15px;
  
}

.top-wrapper{
  padding:300px 0;
  text-align: center;
  background-image: url(/img/background.sky2.jpg);
  background-size: cover;
  color: white;
  font-family: 'Alegreya Sans SC', sans-serif;
  border: 60px solid #fff;
}



.container h1{
  font-size: 100px;
  letter-spacing: 20px;
  text-shadow: 1px 2px 3px #808080; 
  font-weight: 180 ;
}

.top-wrapper p{
  font-size: 15px;
  
}

.photo-wrapper{
  height:600px;
  text-align:center;
  padding:100px 0;
  background-color: #000000;
}

.heading h2{
  font-size: 40px;
  color:#fff;
  font-weight:normal;
  border-bottom: 2px solid #fff ;
  display: inline-block;
  margin: 70px 0 30px 0;
  font-family: 'Caveat', cursive;

}


.photo{
    float:left;
    width:33%;
}



.photo-icon img{
  height:240px;
  box-shadow: 1px 2px 3px #000000;
  margin: 60px 12px 10px 12px;
  cursor: pointer;
  border: 10px solid #fff;
 }

.text-contents{
  color:#ffffff;
  width: 105%;
  font-size:14px;
  padding:20px 0;
  display:none;

}

.text-active {
  display: inline-block;
}

.korean-modal-wrapper, .cakes-modal-wrapper, .oc-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}


.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 35px 40px 35px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
  box-shadow: 1px 2px 3px #000000;
}

.modal h2{
  padding: 20px 0;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

.hobby-wrapper{
  height:720px;
  text-align:center;
  padding:100px 0;
  background-color: #292929;
  
}

.box{
  width:230px;
  height: 250px;
  margin: 120px 13px;
  padding: 0 18px;
  float: left; 
  display: flex;
  transition: 0.8s;

}

.box img{
  display: block;
  width: 100%;
  box-shadow: 1px 2px 3px #414040;
  border: 10px solid #fff;
}

.box:hover{
  transform: scale(1.5);
  z-index: 2;
}

.heading p{
  color:#9d9a9e;
  
}

.profile-wrapper{
  height:720px;
  text-align:center;
  padding:30px 0;
  background-color: #525252;

}

.profile-icon img{
  width: 230px;
	height: 230px;
	object-fit: cover;
	border-radius: 50%;
  border: 10px solid #fff;
  margin: 30px 0;
}

.profile li{
  color:#fff;
  margin: 10px 0;
}

.footer-left{
  color:#000000;
  font-size:15px;
  padding:30px 0;
  float:left;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 800;
}

footer{
  border-top: 1px solid #eee;
}

.clear {
  clear: left;
}
